
.landing-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #FFE5B4; 
  }
  
  .landing-page h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .landing-page p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .card-container {
    background-color: #e6be74;
  }

  .btn {
background-color: black;
  }
